<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exoplanet birthdays. My God, it's full of birthdays.</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/main.css" />
	<script type="text/javascript" src="/exo.js"></script>
	<script type="text/javascript" src="/ejs_production.js"></script>
    </head>
    <body>

      <div class="talky">
      <h1>Your Birthday, Now With Exoplanets</h1>

      <p class="hook">
	Scientists have been finding more and more planets orbiting neighboring stars. More planets equals more birthdays equals more parties!
	Enter your birth date, and find out what planets are celebrating your birthday RIGHT NOW.
      </p>

      <div class="container">
      <form>
	<input type="text" id="birth_date_year" autofocus placeholder="Year (NNNN)" />
	<input type="text" id="birth_date_month" placeholder="Month (NN)" />
	<input type="text" id="birth_date_day" placeholder="Day (NN)" />
	<a href="#" class="button" id="go"><span>birthday me!</span></a>
      </form>
      </div>

    <div id="date_string"></div>
    </div>
    <div id="result"></div>

      <div class="talky">
	<div class="faq">
	  <h3>What is a birthday?</h3>

	  <p>
	    The instant you were born, every planet in the universe was at a
	    particular point of its orbit.  Every time a planet circles its
	    sun and returns to that some point, one of its years have passed,
	    and it is PARTY TIME.
	    If you have a different definition of a birthday, 
	    perhaps an Earth-centric one,
	    then too bad but we will still invite you to ALL OUR MANY PARTIES.
	  </p>

	  <h3>Have you factored in relativity?</h3>

	  <p>
	    There's a reason that I'm not going to tell you
	    where in its orbit each planet was at your birth, just when it will
	    get back there again.
	  </p>

	  <h3>How many exoplanets are known?</h3>

	  <p>
	    Check out the <a href="http://exoplanet.eu/catalog/">exoplanet catalog</a>. &ldquo;<a href='https://xkcd.com/1298/'>It's a beautiful day in the neighborhood</a>.&rdquo;  
	  </p>

	  <h3>Aren't there exoplanets with very snappy orbits?</h3>

	  <p>
	    Yes.  Yes there are. You are surprisingly well informed.
	    These are known as the PARTY PLANETS where it is your 
	    birthday pretty much every other day.  I've excluded
	    them from the list here for now since frankly your
	    age on these planets may be demoralizing.
	  </p>

	  <h3>Is your math correct?</h3>

	  <p>
	    Oh absolutely.  Take my word for it.  Has the internet
	    ever lied to you?  Bug reports to <a href="https://github.com/paulfitz/exoplanets">github</a> and snarky comments to <a href="https://twitter.com/fitzyfitzyfitzy">twitter</a> please.
	  </p>

	</div>
      </div>


<script>

 var exo_data = <%- JSON.stringify(exo) %>;
 var unit = new EJS({url: '/unit.ejs'});
 var now = new Date(new Date().toDateString());

 $(function() {
   function applyDate(year,month,day,example) {
     var target = new Date(year,month-1,day);
     var x = new Exo(exo_data);
     var calc = x.compute(now,target);
     var page = $('#result');
     page.html(unit.render({ calc: calc, example: example }));
     console.log("calculated page");
     console.log(calc);
     return target;
   }

   function setState(o,v) {
       var jo = $(o);
       if (v==1) {
	   jo.removeClass("bad");
	   jo.addClass("good");
       } else if (v==0) {
	   jo.removeClass("good");
	   jo.addClass("bad");
       } else {
	   jo.removeClass("good");
	   jo.removeClass("bad");
       }
   }

     var updateHasYear = false;
     var updateHasMonth = false;
     var updateHasDay = false;

     function scan() {
	 var page = $('#date_string');
	 page.html("");
	 var yy = $('#birth_date_year').val();
	 var mm = $('#birth_date_month').val();
	 var dd = $('#birth_date_day').val();
	 var year = parseFloat(yy);
	 var month = parseFloat(mm);
	 var day = parseFloat(dd);
	 if (isNaN(year)) {
	     year = 0;
	 }
	 if (isNaN(day)) {
	     day = 0;
	 }
	 if (isNaN(month)) {
	     var s = $('#birth_date_month').val() + " 1, 2000";
	     var d = new Date(s);
	     month = d.getMonth()+1;
	 }
	 var iyear = Math.floor(year+0.5);
	 var imonth = Math.floor(month+0.5);
	 var iday = Math.floor(day+0.5);
	 if (yy==""&&mm==""&&dd=="") return null;
	 var good = 0;
	 if (yy!="") { 
	     if (updateHasYear) {
		 if (iyear<1800 || iyear>2300) {
		     setState('#birth_date_year',0);
		     page.append("<span>The year looks strange</span>"); 
		 } else {
		     setState('#birth_date_year',1);
		     good++;
		 }
	     }
	 } else {
	     setState('#birth_date_year',-1);
	 }
	 if (mm!="") {
	     if (imonth<1 || imonth>12) {
		 imonth = Math.NaN;
	     }
	     if (updateHasMonth) {
		 if (isNaN(imonth)) {
		     page.append("<span>The month is odd</span>"); 
		 }
		 if (isNaN(imonth)) {
		     setState('#birth_date_month',0);
		 } else {
		     setState('#birth_date_month',1);
		     good++;
		 }
	     }
	 } else {
	     setState('#birth_date_month',-1);
	 }
	 if (dd!="") {
	     if (iday<1 || iday>31) {
		 iday = Math.NaN;
	     }
	     if (updateHasDay) {
		 if (isNaN(iday)) {
		     page.append("<span>The day is out of range</span>"); 
		 }
		 if (isNaN(iday)) {
		     setState('#birth_date_day',0);
		 } else {
		     setState('#birth_date_day',1);
		     good++;
		 }
	     }
	 } else {
	     setState('#birth_date_day',-1);
	 }
	 if (good<3) return null;
	 return { year: year, month: month, day: day };
     }

   function update() {
       console.log("update");
       updateHasYear = $('#birth_date_year').val().length > 0;
       updateHasMonth = $('#birth_date_month').val().length > 0;
       updateHasDay = $('#birth_date_day').val().length > 0;
       var goal = scan();
       if (goal==null) return;
       var target = applyDate(goal.year,goal.month,goal.day,null);
       $("#date_string").html("");
       if (window.history) {
           history.replaceState(null, null, "/" + goal.year + "/" + goal.month + "/" + goal.day)
       }
       return false;
   }

     $('#birth_date_year').change(update);
     $('#birth_date_month').change(update);
     $('#birth_date_day').change(update);
   
     $('#birth_date_year').on("keyup",scan);
     $('#birth_date_month').on("keyup",scan);
     $('#birth_date_day').on("keyup",scan);
   
   $('#go').click(update);

   $('#eg1').click(function() {
     $('#birth_date_year').val("1976");
     $('#birth_date_month').val("9");
     $('#birth_date_day').val("14");
     update();
     return false;
   });

   $('#eg2').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("4");
     $('#birth_date_day').val("5");
     update();
     return false;
   });

   $('#eg3').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("11");
     $('#birth_date_day').val("20");
     update();
     return false;
   });

<% if (date) { %>
     var year = <%= parseInt(date.year) %>;
     var month = <%= parseInt(date.month) %>;
     var day = <%= parseInt(date.day) %>;
     $('#birth_date_year').val(year);
     $('#birth_date_month').val(month);
     $('#birth_date_day').val(day);
     <% if (date.nyear) { %>
       var nyear = <%= parseInt(date.nyear) %>;
       var nmonth = <%= parseInt(date.nmonth) %>;
       var nday = <%= parseInt(date.nday) %>;
       now = new Date(nyear,nmonth-1,nday);
     <% } %>
     update();
<% } else { %>
     var example = <%- JSON.stringify(people[0]) %>;
     applyDate(example.year,example.month,example.day,example);
<% } %>
 });
</script>

    </body>
</html>
