<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<title>Exoplanet Birthdays</title>
	<link rel="stylesheet" href="/main.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/exo.js"></script>
	<script type="text/javascript" src="/ejs_production.js"></script>
    </head>
    <body>

      <h1>A Very Exoplanet Birthday</h1>

      <p class="hook">
	Scientists have been finding more and more planets orbiting neighboring stars. More planets equals more birthdays equals more parties!
	Enter your birth date, and find out what planets are celebrating your birthday RIGHT NOW.
      </p>

      <form>
	<input type="text" id="birth_date_year" autofocus placeholder="Year (NNNN)" />
	<input type="text" id="birth_date_month" placeholder="Month (NN)" />
	<input type="text" id="birth_date_day" placeholder="Day (NN)" />
	<input type="button" id="go" value="birthday me" />
      </form>

    <div id="date_string"></div>
    <div id="result"></div>

<script>

 var exo_data = <%- JSON.stringify(exo) %>;
 var unit = new EJS({url: '/unit.ejs'});

 $(function() {
   function applyDate(year,month,day,example) {
     var target = new Date(year,month-1,day);
     var now = new Date();
     var x = new Exo(exo_data);
     var calc = x.compute(now,target);
     var page = $('#result');
     page.html(unit.render({ calc: calc, example: example }));
     console.log("calculated page");
     console.log(calc);
     return target;
   }

   function update() {
     console.log("update");
     var page = $('#date_string');
     page.html("");
     var year = parseFloat($('#birth_date_year').val());
     var month = parseFloat($('#birth_date_month').val());
     var day = parseFloat($('#birth_date_day').val());
     var iyear = Math.floor(year+0.5);
     var imonth = Math.floor(month+0.5);
     var iday = Math.floor(day+0.5);
     if (isNaN(year)||isNaN(month)||isNaN(day)) {
       if (!(isNaN(year)&&isNaN(month)&&isNaN(day))) {
	 if (!isNaN(year)) { 
	   page.append("<div>Year: " + iyear + "</div>"); 
	 } else {
	   page.append("<div>(waiting for year of birth)</div>"); 
	 }
	 if (!isNaN(month)) { 
	   page.append("<div>Month: " + imonth + "</div>"); 
	 } else {
	   page.append("<div>(waiting for month of birth)</div>"); 
	 }
	 if (!isNaN(day)) { 
	   page.append("<div>May: " + iday + "</div>");
	 } else {
	   page.append("<div>(waiting for day of birth)</div>"); 
	 }
       }
       return;
     }
     var target = applyDate(iyear,imonth,iday,null);
     $("#date_string").html(target.toDateString());
     if (window.history) {
        history.replaceState(null, null, "/" + iyear + "/" + imonth + "/" + iday)
     }
   }

   $('#birth_date_year').change(update);
   $('#birth_date_month').change(update);
   $('#birth_date_day').change(update);
   
   $('#go').click(update);

   $('#eg1').click(function() {
     $('#birth_date_year').val("1976");
     $('#birth_date_month').val("9");
     $('#birth_date_day').val("14");
     update();
     return false;
   });

   $('#eg2').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("4");
     $('#birth_date_day').val("5");
     update();
     return false;
   });

   $('#eg3').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("11");
     $('#birth_date_day').val("20");
     update();
     return false;
   });

<% if (date) { %>
     var year = <%= parseInt(date.year) %>;
     var month = <%= parseInt(date.month) %>;
     var day = <%= parseInt(date.day) %>;
     $('#birth_date_year').val(year);
     $('#birth_date_month').val(month);
     $('#birth_date_day').val(day);
     update();
<% } else { %>
     var example = <%- JSON.stringify(people[0]) %>;
     applyDate(example.year,example.month,example.day,example);
<% } %>
 });
</script>

    </body>
</html>
