<% if (calc.best.length>0) { %>
<div class='cheer'>
Happy <%= calc.best[0].th %>
<%= calc.best[0].ian %>
Birthday!
</div>
<% } %>


<% for (var i=0; i<calc.log.length; i++) { %>
<% var unit = calc.log[i] %>
<div class='event'>
  <b><%= unit.name %></b><br />
  Age <%= unit.age %><br />
  <% if (unit.idiff == 0) { %>
  Today
  <% } else if (unit.idiff == 1) { %>
  Tomorrow
  <% } else if (unit.idiff == -1) { %>
  Yesterday
  <% } else { %>
  In <%= unit.idiff %> days time<br />
  <% } %>
</div>
<% } %>
